$color-text-primary: #434141;

@mixin cardbox {
    background-color: #fff;
    color: $color-text-primary;
    padding: 10px;
    display: flex;
    border-radius: 10px;
}

.navbar{
    @include cardbox;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin: 3rem 2rem;
}

.container{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}