* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .card {
    @apply md:p-2 my-2 md:mx-2 w-[98%] lg:w-[220px] flex justify-center bg-white border ring-1 outline-none hover:ring-2 border-gray-400 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 ease-in-out duration-200;
  }

  .bg-color {
    @apply bg-[#dde4f0] dark:bg-[#2f3540];
  }

  .text-primary {
    @apply text-[#2f3540] dark:text-[#dde4f0];
  }

  .text-secondary {
    @apply text-slate-500 dark:text-gray-200;
  }


}
