* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(221, 228, 240);
  margin: auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply max-w-sm p-2 m-3 flex justify-center bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700;
  }
}
